# Movies 3

## Introduction

Une base de données (hébergée dans le cloud AWS) contenant un certain nombre de données cinématographiques vous est fournie pour exploration et mise en pratique des langages SQL et Python.  
Les données de connexion (user, host) sont indiquées dans le brief, le mot de passe nécessaire est précisé en session par le formateur.

## 1. Description Générale

En utilisant DBeaver et les paramètres de connexion donnés par ailleurs, faire une description détaillée de la base de données fournie. Présenter notamment le diagramme entité - relation (ERD) et les différentes caractéristiques des tables de la base.  Quelles types de renseignement peut-on tirer de cette base de données ?

---

## 2. Exploration SQL via python / pandas
Dans cette partie, on s'attache à explorer la base de données en utilisant le language SQL pour les requêtes et le language Python (+ module pandas) pour récupérer les résultats de façon programmatique.  
Vous pouvez utiliser DBeaver ou outil similaire pour préparer / tester vos requêtes mais celles-ci doivent être reportées et appliquées dans du code Python comme présenté dans les quelques examples à suivre.  
*Pour les résultats "longs", un aperçu des quelques premières lignes et le comptage total des résultats est suffisant.*

In [ ]:
import os
import pandas as pd

In [ ]:
from sqlalchemy import create_engine
import pymysql

In [ ]:
# paramètres de connexion à la base de données movies (MySQL sous AWS RDS)
user = os.environ.get('movies3_user')
password = os.environ.get('movies3_psw') 
host = os.environ.get('movies3_host')  
port = 3306
dbname = 'movies'  

engine = create_engine(f"mysql+pymysql://{user}:{password}@{host}:{port}/{dbname}")

### Exemples

#### Tables de base

In [ ]:
movies = pd.read_sql_query("SELECT * FROM movies LIMIT 10", engine)
movies.head()

In [ ]:
artists = pd.read_sql_query("SELECT * FROM artists LIMIT 10", engine)
artists.head()

In [ ]:
roles = pd.read_sql_query("SELECT * FROM roles LIMIT 10", engine)
roles.head()

In [ ]:
countries = pd.read_sql_query("SELECT * FROM countries LIMIT 10", engine)
countries.head()

#### Autre requête simple
Q00: Nom et année de naissance des artistes nés après 1975 ? Combien sont-ils ?

In [ ]:
sql_query_00 = """
    SELECT *
    FROM artists
    WHERE birthyear > 1975
"""

results = pd.read_sql_query(sql_query_00, engine)
results.head(5)

In [ ]:
results.shape

In [ ]:
len(results)

### Questions

Q01: Quels sont les films de type 'Drame' ? Combien cela représente de films ?

Q02: Quels rôles a joué Bruce Willis et dans quels films (triés par ordre chronologique) ?

Q03: Qui est le réalisateur de Memento ?

Q04: Qui a joué le rôle de Chewbacca et dans quels films ?

Q05: Dans quels films Bruce Willis a-t-il joué le role de John McClane ?

Q06: Quels sont les acteurs de 'Sueurs froides' ?

Q07: Quels sont les films dont le réalisateur est Tim Burton, et l’un des acteurs Jonnhy Depp ?

Q08: Quels sont les films dans lesquels a joué Woody Allen ? Donnez aussi le rôle.

Q09: Quel metteur en scène a tourné dans ses propres films ? Donnez le nom, le rôle et le titre des films en question.

Q10: Quels sont les films de Quentin Tarantino dans lesquels il n’a pas joué

Q11: Quel metteur en scène a tourné en tant qu’acteur ? Donner le nom, le rôle et le titre des films dans lesquels cet artiste a joué.

Q12: Quels sont les films de Hitchcock sans James Stewart

Q13: Quel est la filmographie de James Stewart ?

Q14: Quels sont les films sans rôle (acteurs) ?

Q15: Combien d'acteurs n’ont jamais réalisé de film ?

Q16: Donnez les noms et prénoms des 10 réalisateurs les plus prolifiques, ainsi que le nombre de films qu’ils ont tournés ?

Q17: Donnez les noms et prénoms des réalisateurs qui ont tourné au moins deux films. Combien sont-ils ?

Q18: Dans quels films le réalisateur a-t-il le même prénom que l’un des interprètes ? (titre, nom du réalisateur, nom de l’interprète). Le réalisateur et l’interprète ne doivent pas être la même personne.

Q19: Quels sont les 10 pays produisant le plus de films ?

Q20: Quels sont les 5 acteurs ayant le plus joué dans des films français ?

---

## 3. Expression libre

A vous de jouer ! Tentez quelques requêtes de votre choix (avec pourquoi pas quelques graphiques illustratifs en utilisant Matplotlib...)